.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

*{
  background-color: #F6F6F6;
}

.success{
  color: #2ECC71;
}

.primary{
  background-color:#00E6E6 ;
}

.primary-hover{
  background-color: #00bfbf;
}

.disabled{
  background-color: #CFCFCF;
  cursor: not-allowed;
  opacity: 0.6;
}

.secondary{
  color: #0081A7;
}

.accent{
  color: #FF9F1C;
}

.error{
  color: #E63946;
}

.surface{
  background-color: #FFFFFF;
}

.text-primary{
  color: #0F0F0F;
}

.text-secondary{
  color: #6C6C6C;
}